@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght=400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #4648d4;
  --color-primary-hover: #6063ee;
  --color-secondary: #ede9fe;
  --color-secondary-text: #5e5c6e;
  --color-background: #f8f9fa;
  --color-surface: #ffffff;
  --color-text-main: #191c1d;

  --poppins-sans: 'Plus Jakarta Sans', 'sans-serif';

  --radius-sm: 0.25rem;
  --radius-default: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}